.metadata/.plugins/*
!/Collection_Question_4/src
/Collection_Question_4/bin/*
/Collection_Question_4/.idea/*
/Collection_Question_4/.settings/*

**/.idea/*
**/.settings/*
**/bin/
**/.classpath
**/.project
